
<h1> </h1>

<%# When you pesisted active record objec to a `form_for`
the it will use the url to the update action which is the same url
for the show action (idea_path(@idea)) except that it will the
PATCH verb instead of GET. It will achieve this by adding an hidden
input field with the name `_method` with the value `PATCH`.

In addition, all the fields will be prepopulated with data from the database. %>

<%= form_for @idea do |f| %>
  <div>
    <%= f.label :title %>
    <%# f.text_field will generate an `input` html tag with proper
    `name` attribute which will be `idea[title]` in this case. It will
    also set the value to the input field to whatever idea.new object has
    preset for that particular attribute (in this case title) %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <%= f.submit %>
<% end %>
