<div>
  <h3>Add a review </h3>
  <%= form_for([@idea, @review]) do |f| %>
    <div>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <div>
      <%= f.label :rating %>
      <%= f.select :rating, [5,4,3,2,1] %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
